<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>ToDoList</title>
</head>
<body>

    <h1>To Valerio list</h1>

    <div id="app">
       <input @keyup.enter="aggiungitod" v-model="newtodo.testo"  type="text" placeholder="Cosa vuoi fare oggi......?">
       <button @click="aggiungitod" >Aggiungi</button>
        <div class="testovuoto" v-if="todoList.length === 0">
            LA LISTA è VUOTA,COSA VUOI FARE?...
        </div>
       <ul v-else>
           <li v-for="todo,i in todoList" :class="todo.done === true ?'active': ''" :key="i">
                {{todo.testo}}  
                <span @click="toglirig(i)"> &#10003;</span>   
                <span @click="eliminatodo"> &#x1f5d1;</span>
           </li>
       </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
</body>
</html>